version: '3.8'

services:
  mlops-api:
    image: tejas329/mlops-water-potability:latest
    container_name: mlops-water-potability-app
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./models:/app/models
      - ./Data-set:/app/Data-set
    environment:
      - PYTHONUNBUFFERED=1
      - MODEL_PATH=/app/models/model.joblib
      - SCALER_PATH=/app/models/scaler.joblib
    restart: unless-stopped
